.chatPart{
    position: fixed;
    bottom:0;
    display: none;
    width:300px;
    margin:60px 0px;
    border: 2px solid;
    border-color: rgb(187, 187, 187);
    background-color: rgb(0, 121, 130);
    border-radius: 5px;
}
.chatPart.toggled{
    display:block;
    overflow: hidden;
}
.chatClose{
    margin:60px;
	left:0%;
	margin-left:-5px;
    display: none;
}
.chatClose.toggled{
    width:50px;
    display: inline;
    position: fixed;
    bottom:0;
    margin:450px 260px;
}
#chatBox{
   overflow-y:scroll;
   height:300px;
    margin-right: -50px; /* maximum width of scrollbar */
  padding-right: 50px;
}
.container {
    border: 2px solid;
    border-color: rgb(187, 187, 187);
    background-color: rgb(60, 125, 135);
    border-radius: 5px;
    padding: 1px;
    margin: -2px 0;
    display: flex;
    width: 103.5%;
}
.text{
    text-align: left;
    width: 80%;
    margin: 0%;
}
.userText{
    text-align: left;
    word-break: break-all;
    width: 30%;
}
.darker {
    border-color: rgb(121, 121, 125);
    background-color: rgb(36, 50, 50);
}

.img {
    float: left;
    max-width: 60px;
    width: 30%;
    height: 30%;
    border-radius: 50%;
}

.time-right {
    float: right;
    color: #999;
    margin: 1%;
}
.postSend{
    float: right;
    margin: 1%;
}
.chatPart.toggled input[type=submit]{
   margin-left:0px;
}