.sisu{
position: relative;}

img{
	width:30%;
	position:absolute;
	left : 2%;
}
p{
	font-size:30px;
	position: relative;
	text-align: center;
	top:0;
}
.sisu a{
	font-size:30px;
	position: relative;
	left:50%;
	margin-left: -50px;
}

.not
{
	width:100px;
	position:relative;
	margin-left: -20px;
	transition: all 0.2s;
}
.not:hover{
	width:105px;
}
