body {}
* {box-sizing: border-box}
/* Full-width input fields */
/*et kõigil inputtidel oleks smaa customFont */
input{
	font-size:20px;
    font-family: "customFont";
	color:white;
}
.delete{
	position: relative;
	left:50%;
	margin:0px -75px;
	font-size: 30px;
	transition: 0.2s;
}
.delete:hover{
	color:red;
	font-size:35px;
	margin: 0px -82.5px;
	transition: 0.5s;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 2px 0;
    border: none;
    background: #f1f1f1;
	color:black;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ffffff;
	color:black;
    outline: none;
}

hr {
	color:black;
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
label{
    position:relative;
	color: white;
}
input[type=submit]{
	color:black;
	padding:10px;
}
.register-menu {
    position: relative;
	width:220px;
	left:50%;
	margin : 0px -100px;
	font-size:20px;
}