table {
    border-collapse: collapse;
    width: 100%;
}
.sisu{
    margin-top:30px;
}
thead{
    color : #000000;
    background-color: #d2d2d2;
}
th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
	background-color: #113331;}
.sisu{
    margin-top:30px;
}